<h1>Admin#home</h1>
<p>Find me in app/views/admin/home.html.erb</p>
<hr>
	<ul>
		<li><%= link_to "New lawsuit", new_lawsuit_path %></li>
		<li></li>
		
	</ul>
<hr>

<%= link_to "New Attorney", new_oc_path %>