<h1>Editing deposition</h1>

<%= render "form", deposition: @deposition %>

<br>

<div>
  <%= link_to "Show this deposition", @deposition %> |
  <%= link_to "Back to depositions", depositions_path %>
</div>
