<h3>Portfolio</h3>
<hr> 
<div class="content">

	<% @tracked_lawsuits.each do |lawsuit| %>
			<%= lawsuit.ct %> <%= lawsuit.cn %> <%= link_to "Show", lawsuit %> <%= link_to "Remove",  users_remove_path(lawsuit), method: :delete, data: { confirm: 'Are you sure you want to delete this item?' } %><br>
			<% end %>  

</div>




