<h1>Users#portfolio</h1>
<p>Find me in app/views/users/portfolio.html.erb</p>
<hr> 
<% @tracked_lawsuits.each do |lawsuit| %>
		<%= lawsuit.ct %> <%= lawsuit.cn %> <%= link_to "Show", lawsuit %> <%= link_to "Remove", users_remove_path(lawsuit) %><br>
		<% end %>  
