<h1>Editing courtdate</h1>

<%= render "form", courtdate: @courtdate %>

<br>

<div>
  <%= link_to "Show this courtdate", @courtdate %> |
  <%= link_to "Back to courtdates", courtdates_path %>
</div>
