<%= form_with(model: discovery) do |form| %>
  <% if discovery.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(discovery.errors.count, "error") %> prohibited this discovery from being saved:</h2>

      <ul>
        <% discovery.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
