<p style="color: green"><%= notice %></p>

<h3>Attorneys</h3>

<div id="ocs">
  <% @ocs.each do |oc| %>
    <%= render oc %>
    <p>
      <%= link_to "Show this oc", oc %>
    </p>
  <% end %>
</div>


