* {
    margin: 0px;
}



.content {
    flex: 1;
    /* This will push the footer to the bottom */
    margin-bottom: 100px; /* Adjust according to your footer height */

}

.footer {
    /* Your footer styles */
    position: fixed;
    bottom: 0;
    width: 100%;
}

table, th, td {
  border: 1px solid;
}

.notice {
        color: green;
}
.alert {
        color: red;
}

.logo-size {
        width: 1px; /* Set the width to desired size */
        height: 1px; /* Let the height adjust proportionally */
    }

.top-right {
        position: fixed; /* or absolute if you want it relative to its containing element */
        top: 0;
        right: 0;
        padding: 20px; /* Add padding or adjust according to your design */
        background-color: #f00; /* Just for visibility */
        color: #fff; /* Just for visibility */
        border-radius: 10%; /* This will make the button round */
    }

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
